.details {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

@media screen and (min-width: 800px) {
    .details {
        width: 800px;
    }
}