.details {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #18181E;
    color: #ffffff;
    padding: 10px;
}

.details-block {
    margin: 10px;
    padding: 10px;
    color: #18181E;
    background-color: #DEC79B;
    border-radius: 5px;
}

.details-address {
    margin-top: 0;
}

@media screen and (min-width: 600px) {
    .details {
        padding: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .details {
        width: 1024px;
    }

    .details-block {
        margin: 20px;
        padding: 20px;
    }
}