.title {
    font-size: 64px;
    color: #111111;
    font-family: 'Quicksand', sans-serif;
}

.title-sub {
    color: #111111;
}

.title-button {
    color: #111111;
    background: none;
    border: 2px solid #111111;
}

.title-button:hover {
    color: #ffffff;
    background: #111111;
}

.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("../../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-hero {
    margin: 0 auto 175px auto;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.landing-sections {
    margin: 60px;
}

.cta-container {
    margin-bottom: 50px;
}

.cta-button {
    margin: 20px;
}

.photo-credit {
    margin: 100px 50px;
}

@media screen and (min-width: 1024px) {
    .landing-sections {
        margin: 100px 150px;
    }
}