.title {
    font-size: 64px;
    color: #111111;
    font-family: 'Quicksand', sans-serif;
    
}
.landing-container {
    display:flex;
    height: 90vh;
    margin: 0;
    padding: 0;
}

.landing-hero {
    margin: auto;
    padding: 0;
}

.landing-sections {
    margin: 50px;
}

.cta-container {
    margin-bottom: 50px;
}

.cta-button {
    margin: 20px;
}