.favorite {
    position: relative;
    left: 10px;
    top: 2px;
    height: 0;
    width: 30px;
    margin-top: 0;
    padding: 0;
}

.favorite:hover {
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .favorite {
        left: 20px;
    }
}