.search {
    position: absolute;
    top: 7.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 10;
}

.search input {
    padding: 0.5rem;
    width: 100%;
    height: 50px;
    border: 2px solid #999999;
    border-radius: 25px;
}

@media screen and (min-width: 800px) {
    .search {
        top: 5.5rem;
        width: 60%;
    }
}