nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    color: #18181E;
    background-color: #DEC79B;
    margin: 0;
    padding: 20px;
    z-index: 20;
}

.nav-bar:hover {
    border-bottom: 2px solid #18181E;
}

ul {
    display: inline;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 2px 0 0 0;
}

li {
    display: inline;
    padding: 5px;
}

.logo {
    text-decoration: none;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.logo:visited {
    color: #18181E;
}

.nav-bar,
.nav-bar:visited {
    color: #18181E;
}

@media screen and (min-width: 400px) {
    nav {
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1024px) {
    li {
        padding: 10px;
    }
}