footer {
    color: #18181E;
    background-color: #DEC79B;
    margin: 0;
    padding: 15px;
    width: 100%;
}

.contact {
    font-size: 24px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-icon a {
    padding: 10px;
    color: #18181E !important;
}

.copyright {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (min-width: 400px) {
    footer {
        display: flex;
        justify-content: space-between;
    }
}