* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  background-color: #999999;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #444444;
  background-color: white;
  text-align: center;
  line-height: 1.5;
  width: 800px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

select {
  width: 40%;
  padding: 10px;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
}

.input-typ {
  margin: 0 0 20px 0;
}