* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #999;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif; 
  font-size: 18px;
  color: #444;
  background-color: white;
  text-align: center;
  line-height: 1.5;
  width: 800px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

select {
  width: 40%;
  padding: 10px;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 56px;
}